body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button {
  background-color: gray;
  color: black;
  border: none;
  padding: 8px 15px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #cc5140;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-top: 20px;
}

h2 {
  font-size: 1.25;
  margin-top: 15px;
  color: #555;
}

h3 {
  font-size: 1px;
  margin-top: 15px;
  color: #444;
}